<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="_csrf" th:content="${_csrf.token}"/> -->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    <title>Items</title>    
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
<main>
    <div id="app" v-cloak>
    </div>
</main>
</body>
<script type="module" src="/src/page/item-editor.js"></script>
</html>