<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Rezept Bearbeiten</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" intitial-scale="1.0"/>
</head>

<body>
    <div id="app" v-cloak th:data-init='${recipe}' th:data-recipe-id='${recipeId}'></div>
</body>

<script type="module" src="/src/page/recipe-editor.js"></script>